<section class="finance-section">
  <ul class="finance-list">
    <li class="finance-item">
      <div class="finance_icon-box">
        <svg class="finance_svg" width="34px" height="34px">
          <use href="./images/symbol-defs.svg#icon-finance1"></use>
        </svg>
      </div>
      <h3 class="finance-title">Investmant Banking</h3>
      <p class="finance-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="finance-item">
      <div class="finance_icon-box">
        <svg class="finance_svg" width="34px" height="34px">
          <use href="./images/symbol-defs.svg#icon-finance2"></use>
        </svg>
      </div>
      <h3 class="finance-title">Portfolio Manager</h3>
      <p class="finance-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
    <li class="finance-item">
      <div class="finance_icon-box">
        <svg class="finance_svg" width="34px" height="34px">
          <use href="./images/symbol-defs.svg#icon-finance3"></use>
        </svg>
      </div>
      <h3 class="finance-title">Tax & Custudio</h3>
      <p class="finance-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
        necessitatibus!
      </p>
    </li>
  </ul>
</section>
