<section class="blog-section">
  <picture class="blog-picture">
    <source
      srcset="images/Blog-mobile-x1.jpg 1x, images/Blog-mobile-x2.jpg 2x"
      media="(max-width: 768px)"
    />
    <source
      srcset="images/Blog-tablet-x1.jpg 1x, images/Blog-tablet-x2.jpg 2x"
      media="(max-width: 1359px)"
    />
    <source
      srcset="images/Blog-desktop-x1.jpg 1x, images/Blog-desktop-x2.jpg 2x"
      media="(min-width: 1360px)"
    />
    <img class="blog-image" src="./images/Blog-desktop-x1.jpg" alt="" />
  </picture>
  <div class="blog-description-box">
    <p class="blog-date">April 16 2020</p>
    <h2 class="blog-title">Blog Post One</h2>
    <p class="blog-description-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog-button" data-modal-open3>Read Our Blog</button>
  </div>
</section>
