<section class="cases-section" id="cases">
  <div class="cases-description-box">
    <h3 class="cases-subtitle">This is what we do</h3>
    <h2 class="cases-title">Business Cases</h2>
    <p class="ceses-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
  </div>
  <div class="cases-gallery-box">
    <picture>
      <source
        srcset="images/Case1-mobile-x1.jpg 1x, images/Case1-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case1-tablet-x1.jpg 1x, images/Case1-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case1-desktop-x1.jpg 1x, images/Case1-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case1-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case2-mobile-x1.jpg 1x, images/Case2-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case2-tablet-x1.jpg 1x, images/Case2-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case2-desktop-x1.jpg 1x, images/Case2-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case2-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case3-mobile-x1.jpg 1x, images/Case3-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case3-tablet-x1.jpg 1x, images/Case3-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case3-desktop-x1.jpg 1x, images/Case3-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case3-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case4-mobile-x1.jpg 1x, images/Case4-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case4-tablet-x1.jpg 1x, images/Case4-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case4-desktop-x1.jpg 1x, images/Case4-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case4-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case5-mobile-x1.jpg 1x, images/Case5-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case5-tablet-x1.jpg 1x, images/Case5-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case5-desktop-x1.jpg 1x, images/Case5-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case5-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case6-mobile-x1.jpg 1x, images/Case6-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case6-tablet-x1.jpg 1x, images/Case6-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case6-desktop-x1.jpg 1x, images/Case6-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case6-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case7-mobile-x1.jpg 1x, images/Case7-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case7-tablet-x1.jpg 1x, images/Case7-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case7-desktop-x1.jpg 1x, images/Case7-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case7-desktop-x1.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="images/Case8-mobile-x1.jpg 1x, images/Case8-mobile-x2.jpg 2x"
        media="(max-width: 768px)"
      />
      <source
        srcset="images/Case8-tablet-x1.jpg 1x, images/Case8-tablet-x2.jpg 2x"
        media="(max-width: 1359px)"
      />
      <source
        srcset="images/Case8-desktop-x1.jpg 1x, images/Case8-desktop-x2.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img class="cases-image" src="./images/Case8-desktop-x1.jpg" alt="" />
    </picture>
  </div>
</section>
