<footer class="footer">
  <ul class="fotter-icon-list">
    <li class="footer-icon-item">
      <a href="https://www.linkedin.com/in/dmytro-shkilniuk/">
        <svg width="35px" height="35px">
          <use href="./images/symbol-defs.svg#icon-linkedin-round"></use>
        </svg>
      </a>
    </li>
    <li class="footer-icon-item">
      <a href="https://www.xing.com/profile/Dmytro_Shkilniuk/web_profiles">
        <svg width="35px" height="35px">
          <use href="./images/symbol-defs.svg#icon-xing"></use>
        </svg>
      </a>
    </li>
    <li class="footer-icon-item">
      <a
        href="https://profile.indeed.com/?hl=de_DE&co=DE&from=gnav-menu-jobseeker-profile--profile-one-frontend"
      >
        <svg width="40px" height="35px">
          <use href="./images/symbol-defs.svg#icon-indeed"></use>
        </svg>
      </a>
    </li>
    <li class="footer-icon-item">
      <a href="https://github.com/Dmytro-1506">
        <svg width="31px" height="35px">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </li>
  </ul>
  <p class="footer-text">Copyright © 2021 - FinanceLedger</p>
</footer>
