<header class="header">
  <div class="header-box">
    <div class="company-name">
      <svg class="logo" width="39px" height="35px">
        <use href="./images/symbol-defs.svg#icon-header-logo"></use>
      </svg>
      <a class="link name" href="./index.html"
        ><span class="accent-title">Finance </span>Ladger</a
      >
    </div>
    <div class="navigation-box">
      <ul class="nav-list">
        <li><a class="nav-link" href="">Home</a></li>
        <li><a class="nav-link" href="">About</a></li>
        <li><a class="nav-link" href="">Cases</a></li>
        <li><a class="nav-link" href="">Blog</a></li>
        <li><a class="nav-link" href="">Contacts</a></li>
      </ul>
    </div>
  </div>
</header>
