<section class="persons-section">
  <div class="persons-section-description">
    <h3 class="persons-subtitle">Who we are</h3>
    <h2 class="persons-title">Our Professional Team</h2>
    <p class="persons-description-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
  </div>
  <ul class="persons-list">
    <li class="person-item">
      <div class="person-content-thumb">
        <picture class="person-picture">
          <source
            srcset="
              images/President-mobile-x1.jpg 1x,
              images/President-mobile-x2.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              images/President-tablet-x1.jpg 1x,
              images/President-tablet-x2.jpg 2x
            "
            media="(max-width: 1359px)"
          />
          <img
            class="person-image"
            src="./images/President-mobile-x1.jpg"
            alt=""
          />
        </picture>
        <div class="person-icons-box">
          <ul class="person-icon-list">
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use
                    href="./images/symbol-defs.svg#icon-linkedin-round"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-xing"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-indeed"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="person-details">
        <h2 class="person-name">John Doe</h2>
        <h3 class="person-position">President</h3>
      </div>
    </li>
    <li class="person-item">
      <div class="person-content-thumb">
        <picture class="person-picture">
          <source
            srcset="
              images/VicePresident-mobile-x1.jpg 1x,
              images/VicePresident-mobile-x2.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              images/VicePresident-tablet-x1.jpg 1x,
              images/VicePresident-tablet-x2.jpg 2x
            "
            media="(max-width: 1359px)"
          />
          <img
            class="person-image"
            src="./images/VicePresident-mobile-x1.jpg"
            alt=""
          />
        </picture>
        <div class="person-icons-box">
          <ul class="person-icon-list">
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use
                    href="./images/symbol-defs.svg#icon-linkedin-round"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-xing"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-indeed"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="person-details">
        <h2 class="person-name">Jane Doe</h2>
        <h3 class="person-position">Vice President</h3>
      </div>
    </li>
    <li class="person-item">
      <div class="person-content-thumb">
        <picture class="person-picture">
          <source
            srcset="
              images/MarketingHead-mobile-x1.jpg 1x,
              images/MarketingHead-mobile-x2.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              images/MarketingHead-tablet-x1.jpg 1x,
              images/MarketingHead-tablet-x2.jpg 2x
            "
            media="(max-width: 1359px)"
          />
          <img
            class="person-image"
            src="./images/MarketingHead-desktop-x1.jpg"
            alt=""
          />
        </picture>
        <div class="person-icons-box">
          <ul class="person-icon-list">
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use
                    href="./images/symbol-defs.svg#icon-linkedin-round"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="35px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-xing"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="40px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-indeed"></use>
                </svg>
              </a>
            </li>
            <li class="person-icon-item">
              <a href="">
                <svg width="31px" height="35px">
                  <use href="./images/symbol-defs.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="person-details">
        <h2 class="person-name">Steve Smith</h2>
        <h3 class="person-position">Marketing Head</h3>
      </div>
    </li>
  </ul>
</section>
