<section class="provide-section">
  <picture>
    <source
      srcset="images/Team-mobile-x1.jpg 1x, images/Team-mobile-x1.jpg 2x"
      media="(max-width: 768px)"
    />
    <source
      srcset="images/Team-tablet-x1.jpg 1x, images/Team-tablet-x1.jpg 2x"
      media="(max-width: 1359px)"
    />
    <source
      srcset="images/Team-desktop-x1.jpg 1x, images/Team-desktop-x1.jpg 2x"
      media="(min-width: 1360px)"
    />
    <img
      class="provide-image"
      src="./images/Team-desktop-x1.jpg"
      alt="workers team"
    />
  </picture>

  <div class="provide-description-box">
    <h3 class="provide-subtitle">What you are looking for</h3>
    <h2 class="provide-title">We provide bespoke solutions</h2>
    <p class="provide-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="provide-button" data-modal-open>Read More</button>
  </div>
</section>
